# Introduction.

## Team Champion.

1. Satyasriram Siva Krishna Sanam.
2. Manoj Kumar Katakam.
3. Jayanth Uppara.
4. Bojanapally Santhoshini.

In this Notebook we are going to look at the Census data which was extracted by Barry Becker in 1994 from the census database, which was sourced form UCI Machine Learning Repository .The name of our dataset is adult in which we have 14 features/attributes(age, workclass,fnlwgt,education,education_num, marital_status, occupation, relationship,race,sex,capital_gain,capital_loss, hrs_per_week and native_country) and 1 target variable income(binary).Using all the mentioned attributes our target variable is classified into >50k and <=50k Per Annum. As we are performing classification and our target variable is a binary so it's a binary classification task. We will be discussing the significance of each attribute further in this notebook. This dataset also enables us to derive insights societal and economic trends privotal in the mid-90s. This classification has many applications in Finance, Insurance, Credit-card fraud detection and marketing. 

This project involves the following steps 
1. Loading the data into a Spark DataFrame and displaying its schema.
2. Modifying the data schema as needed to ensure it aligns with Spark requirements and our analysis.
3. Carrying out necessary data transformations to make it suitable for analysis.
4. Storing the transformed data in a persistent table for future reference
5. Creating a temporary view of the dataset to facilitate exploration using Spark SQL.
6. Investigating the data using Spark SQL, exhibiting understanding in generating aggregations and summaries to understand the correlations between different demographic characteristics and income levels also perform the income classification..


### Applications.

- Businesses can leverage the analysis to gain a deeper understanding of consumer demographics, preferences and purchasing power. This information can inform marketing strategies, product development and market segmentation enabling the companies to tailor their offerings to specific target audiences more effectively.
- As we mentioned above the Bank and financial institutions can employ the analysis to assess credit risk, 
- Government agencies and Non-Profit oragnizations can utilize the analysis to identify weak populations, assess eligibility for welfare programs, and allocate resources efficiently. Understanding these factors which influence a person's socio-economic status can help the govts guide the implementation of welfare programmes aimed at improving well-being of the population.

So, the first and foremost step for exploring our data using Spark SQL is to import the required packages and load the data into our environment.

### 0. Import the Required packages.

In this step we are going to import the required packages we will be using for this assignment.

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /home/admin/miniforge3/envs/bd/lib/python3.11/site-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /home/admin/miniforge3/envs/bd/lib/python3.11/site-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType
from pyspark.ml.feature import StringIndexer,StandardScaler, VectorAssembler
from pyspark.ml import Pipeline
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.evaluation import BinaryClassificationEvaluator
import findspark
import warnings
warnings.filterwarnings("ignore")

np.random.seed(42)

### 1. Import the data.

In this step we are going to load our dataset into pandas dataframe and then convert it to Spark dataframe

In [3]:
pip install findspark

Requirement already satisfied: findspark in /home/admin/miniforge3/envs/bd/lib/python3.11/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
findspark.init()

spark = SparkSession.builder.master("local[4]").appName("ISM6562 Spark App01").enableHiveSupport().getOrCreate();

# Let's get the SparkContext object. It's the entry point to the Spark API. It's created when you create a sparksession
sc = spark.sparkContext  

# note: If you have multiple spark sessions running (like from a previous notebook you've run), 
# this spark session webUI will be on a different port than the default (4040). One way to 
# identify this part is with the following line. If there was only one spark session running, 
# this will be 4040. If it's higher, it means there are still other spark sesssions still running.
spark_session_port = spark.sparkContext.uiWebUrl.split(":")[-1]
print("Spark Session WebUI Port: " + spark_session_port)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/14 17:33:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Spark Session WebUI Port: 4040

In [5]:
sc.setLogLevel("ERROR")

In [45]:
# fetch dataset 
df = pd.read_csv('adult_data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [46]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
income            object
dtype: object

Before converting this into spark dataframe let's perform some data cleaning and then proceed to the dataframe conversion.

Since we have a very small percentage of missing values which doesn't even account for 2% of the observations so we are going to drop the rows with this missing observations let's do that.

In [47]:
# Drop rows with missing values
df = df.dropna()

In [48]:
df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [49]:
# Define the dictionary for renaming columns
cols_rename = {
    'age': 'age',
    'workclass': 'workclass',
    'fnlwgt': 'fnl_wgt',
    'education': 'education',
    'education-num': 'education_num',
    'marital-status': 'marital_status',
    'occupation': 'occupation',
    'relationship': 'relationship',
    'race': 'race',
    'sex': 'sex',
    'capital-gain': 'capital_gain',
    'capital-loss': 'capital_loss',
    'hours-per-week': 'hours_per_week',
    'native-country': 'native_country',
    'income': 'income'
}

# Rename columns in the DataFrame
df.rename(columns=cols_rename, inplace=True)

In [50]:
df.head()

,age,workclass,fnl_wgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [51]:
df['income'].unique()

array(['<=50K', '>50K', '<=50K.', '>50K.'], dtype=object)

In [52]:
df['income'] = df['income'].str.replace('<=50K.', '<=50K', regex=True).str.replace('>50K.', '>50K', regex=True)

In [53]:
df['income'] = ['0' if value == '<=50K' else '1' for value in df['income']]

In [54]:
df['income'] = df['income'].astype('int')

In [55]:
# Convert pandas DataFrame to Spark DataFrame
df_spark = spark.createDataFrame(df)

# Show the Spark DataFrame
df_spark.show()

+---+----------------+-------+------------+-------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+
|age|       workclass|fnl_wgt|   education|education_num|      marital_status|       occupation| relationship|              race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|
+---+----------------+-------+------------+-------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+
| 39|       State-gov|  77516|   Bachelors|           13|       Never-married|     Adm-clerical|Not-in-family|             White|  Male|        2174|           0|            40| United-States|     0|
| 50|Self-emp-not-inc|  83311|   Bachelors|           13|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|           0|           0|            13| United-States|     0|
| 38|         Private| 215646|     HS-grad|            9|            Divorced|Handlers-cleaners|Not-in-family|             White|  Male|           0|           0|            40| United-States|     0|
| 53|         Private| 234721|        11th|            7|  Married-civ-spouse|Handlers-cleaners|      Husband|             Black|  Male|           0|           0|            40| United-States|     0|
| 28|         Private| 338409|   Bachelors|           13|  Married-civ-spouse|   Prof-specialty|         Wife|             Black|Female|           0|           0|            40|          Cuba|     0|
| 37|         Private| 284582|     Masters|           14|  Married-civ-spouse|  Exec-managerial|         Wife|             White|Female|           0|           0|            40| United-States|     0|
| 49|         Private| 160187|         9th|            5|Married-spouse-ab...|    Other-service|Not-in-family|             Black|Female|           0|           0|            16|       Jamaica|     0|
| 52|Self-emp-not-inc| 209642|     HS-grad|            9|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|           0|           0|            45| United-States|     1|
| 31|         Private|  45781|     Masters|           14|       Never-married|   Prof-specialty|Not-in-family|             White|Female|       14084|           0|            50| United-States|     1|
| 42|         Private| 159449|   Bachelors|           13|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|        5178|           0|            40| United-States|     1|
| 37|         Private| 280464|Some-college|           10|  Married-civ-spouse|  Exec-managerial|      Husband|             Black|  Male|           0|           0|            80| United-States|     1|
| 30|       State-gov| 141297|   Bachelors|           13|  Married-civ-spouse|   Prof-specialty|      Husband|Asian-Pac-Islander|  Male|           0|           0|            40|         India|     1|
| 23|         Private| 122272|   Bachelors|           13|       Never-married|     Adm-clerical|    Own-child|             White|Female|           0|           0|            30| United-States|     0|
| 32|         Private| 205019|  Assoc-acdm|           12|       Never-married|            Sales|Not-in-family|             Black|  Male|           0|           0|            50| United-States|     0|
| 40|         Private| 121772|   Assoc-voc|           11|  Married-civ-spouse|     Craft-repair|      Husband|Asian-Pac-Islander|  Male|           0|           0|            40|             ?|     1|
| 34|         Private| 245487|     7th-8th|            4|  Married-civ-spouse| Transport-moving|      Husband|Amer-Indian-Eskimo|  Male|           0|           0|            45|        Mexico|     0|
| 25|Self-emp-not-inc| 176756|     HS-grad|            9|       Never-married|  Farming-fishing|    Own-child|             White|  Male|           0|           0|            35| United-States|     0|
| 32|         Private| 186824|     HS-grad|            9|       Never-married|Machine-op-inspct|    Unmarried|             White|  Male|           0|           0|            40| United-States|     0|
| 38|         Private|  28887|        11th|            7|  Married-civ-spouse|            Sales|      Husband|             White|  Male|           0|           0|            50| United-States|     0|
| 43|Self-emp-not-inc| 292175|     Masters|           14|            Divorced|  Exec-managerial|    Unmarried|             White|Female|           0|           0|            45| United-States|     1|
+---+----------------+-------+------------+-------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+
only showing top 20 rows

### 2. Make changes to the schema.

Since we are going to make changes to the schema, let's look into that and decide on which columns to keep and change the datatypes if require.

In [56]:
df_spark.printSchema()

root
 |-- age: long (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnl_wgt: long (nullable = true)
 |-- education: string (nullable = true)
 |-- education_num: long (nullable = true)
 |-- marital_status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- capital_gain: long (nullable = true)
 |-- capital_loss: long (nullable = true)
 |-- hours_per_week: long (nullable = true)
 |-- native_country: string (nullable = true)
 |-- income: long (nullable = true)

Let's look into the each feature, it's datatype and decide which attributes are relevant in this classification and then adjust our schema accordingly.

- Age: The data type is already appropriate (IntegerType()), so we keep it as is.

- Workclass: This is a categorical variable represented as a string. We consider dropping it because as we have occupation we can determine which workclass from the occupation that makes workclass redundant.
  
- education_num: This attribute is a numeric datatype, which stores the number of years of education a specific individual received which is redundant as we have the highest education the individual received in `education` column so we are dropping this attribute too.

- fnlwgt:  This seems to be a feature related to census weight. Since it's not immediately clear the way this feature is useful for analysis or modeling, we consider dropping it. 

-  Education: As it was mentioned earlier this variable describes the highest education an individual received. This is a categorical variable represented as a string. We keep it as is, as it represents individuals' educational qualifications, which could be important for predicting income.

- Marital Status: This categorical variable represents individuals' marital status, which might have an impact on their income and other socioeconomic factors.

- Occupation: Another categorical variable representing individuals' occupations. Occupation can strongly influence income levels, so we keep it as is.

- Relationship: This categorical variable represents individuals' relationship status, which could potentially affect their financial situation and income.

- Race: Another categorical variable representing individuals' race. Although sensitive, race can have implications for income disparities and social inequalities.

- Sex: This binary categorical variable represents individuals' gender. Gender-based income disparities are well-documented, making this potentially important for predicting income levels.

- Capital Gain: This numerical variable represents financial gains. It provides direct information about individuals' financial investments or profits, which could be relevant for predicting income.

- Capital Loss: Similar to capital gain, this numerical variable represents financial losses. It complements capital gain by providing information about individuals' financial losses, which could also influence income.

- Hours per Week: This numerical variable represents the number of hours worked per week. It directly impacts individuals' income levels, making it an important predictor.

- Native Country: This categorical variable represents individuals' country of origin. It could provide insights into income disparities across different countries and cultures.

- Income: This is the target variable, representing individuals' income levels. We convert it as an int datatype since we have already changed the mapping of <=50k to 0, and >50k to 1.

In [57]:
# Define the new schema
schema = StructType([
    StructField("age", IntegerType(), True), 
    # Drop workclass
    # Drop fnlwgt
    StructField("education", StringType(), True),
    # Drop education_num
    StructField("marital_status", StringType(), True), 
    StructField("occupation", StringType(), True), 
    StructField("relationship", StringType(), True), 
    StructField("race", StringType(), True), 
    StructField("sex", StringType(), True), 
    StructField("capital_gain", IntegerType(), True), 
    StructField("capital_loss", IntegerType(), True), 
    StructField("hours_per_week", IntegerType(), True), 
    StructField("native_country", StringType(), True), 
    StructField("income",IntegerType(), True) 
])

In [58]:
# Drop irrelevant columns
columns_to_drop = ['workclass', 'education_num', 'fnl_wgt']
df_spark = df_spark.drop(*columns_to_drop)

In [59]:
df_spark.show()

+---+------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+
|age|   education|      marital_status|       occupation| relationship|              race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|
+---+------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+
| 39|   Bachelors|       Never-married|     Adm-clerical|Not-in-family|             White|  Male|        2174|           0|            40| United-States|     0|
| 50|   Bachelors|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|           0|           0|            13| United-States|     0|
| 38|     HS-grad|            Divorced|Handlers-cleaners|Not-in-family|             White|  Male|           0|           0|            40| United-States|     0|
| 53|        11th|  Married-civ-spouse|Handlers-cleaners|      Husband|             Black|  Male|           0|           0|            40| United-States|     0|
| 28|   Bachelors|  Married-civ-spouse|   Prof-specialty|         Wife|             Black|Female|           0|           0|            40|          Cuba|     0|
| 37|     Masters|  Married-civ-spouse|  Exec-managerial|         Wife|             White|Female|           0|           0|            40| United-States|     0|
| 49|         9th|Married-spouse-ab...|    Other-service|Not-in-family|             Black|Female|           0|           0|            16|       Jamaica|     0|
| 52|     HS-grad|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|           0|           0|            45| United-States|     1|
| 31|     Masters|       Never-married|   Prof-specialty|Not-in-family|             White|Female|       14084|           0|            50| United-States|     1|
| 42|   Bachelors|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|        5178|           0|            40| United-States|     1|
| 37|Some-college|  Married-civ-spouse|  Exec-managerial|      Husband|             Black|  Male|           0|           0|            80| United-States|     1|
| 30|   Bachelors|  Married-civ-spouse|   Prof-specialty|      Husband|Asian-Pac-Islander|  Male|           0|           0|            40|         India|     1|
| 23|   Bachelors|       Never-married|     Adm-clerical|    Own-child|             White|Female|           0|           0|            30| United-States|     0|
| 32|  Assoc-acdm|       Never-married|            Sales|Not-in-family|             Black|  Male|           0|           0|            50| United-States|     0|
| 40|   Assoc-voc|  Married-civ-spouse|     Craft-repair|      Husband|Asian-Pac-Islander|  Male|           0|           0|            40|             ?|     1|
| 34|     7th-8th|  Married-civ-spouse| Transport-moving|      Husband|Amer-Indian-Eskimo|  Male|           0|           0|            45|        Mexico|     0|
| 25|     HS-grad|       Never-married|  Farming-fishing|    Own-child|             White|  Male|           0|           0|            35| United-States|     0|
| 32|     HS-grad|       Never-married|Machine-op-inspct|    Unmarried|             White|  Male|           0|           0|            40| United-States|     0|
| 38|        11th|  Married-civ-spouse|            Sales|      Husband|             White|  Male|           0|           0|            50| United-States|     0|
| 43|     Masters|            Divorced|  Exec-managerial|    Unmarried|             White|Female|           0|           0|            45| United-States|     1|
+---+------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+
only showing top 20 rows

In [60]:
# Apply the new schema to the DataFrame
df_spark = spark.createDataFrame(df_spark.toPandas(), schema=schema)

In [61]:
# Replace question marks with 'Unknown' in all columns
df_spark = df_spark.replace('?', 'Unknown')

In [62]:
# Iterate over each column and print unique values
for col_name in df_spark.columns:
    unique_values = df_spark.select(col(col_name)).distinct().collect()
    unique_values_list = [row[0] for row in unique_values]
    print(f"Unique values in column '{col_name}': {unique_values_list}")

Unique values in column 'age': [31, 85, 65, 53, 78, 34, 81, 28, 76, 27, 26, 44, 22, 47, 52, 40, 20, 57, 54, 48, 19, 64, 41, 43, 37, 61, 88, 17, 72, 35, 59, 55, 39, 23, 49, 84, 51, 69, 63, 77, 50, 45, 38, 82, 80, 25, 73, 24, 70, 62, 29, 21, 32, 60, 90, 75, 56, 58, 33, 83, 71, 68, 42, 79, 30, 66, 46, 67, 18, 74, 36, 86, 87, 89]
Unique values in column 'education': ['Masters', '10th', '5th-6th', 'Assoc-acdm', 'Assoc-voc', '7th-8th', '9th', 'HS-grad', 'Bachelors', '11th', '1st-4th', 'Preschool', '12th', 'Doctorate', 'Some-college', 'Prof-school']
Unique values in column 'marital_status': ['Separated', 'Never-married', 'Married-spouse-absent', 'Divorced', 'Widowed', 'Married-AF-spouse', 'Married-civ-spouse']
Unique values in column 'occupation': ['Sales', 'Exec-managerial', 'Prof-specialty', 'Handlers-cleaners', 'Farming-fishing', 'Craft-repair', 'Unknown', 'Transport-moving', 'Priv-house-serv', 'Protective-serv', 'Other-service', 'Tech-support', 'Machine-op-inspct', 'Armed-Forces', 'Adm-clerical']
Unique values in column 'relationship': ['Own-child', 'Not-in-family', 'Unmarried', 'Wife', 'Other-relative', 'Husband']
Unique values in column 'race': ['Other', 'Amer-Indian-Eskimo', 'White', 'Asian-Pac-Islander', 'Black']
Unique values in column 'sex': ['Female', 'Male']
Unique values in column 'capital_gain': [4101, 2580, 5178, 10605, 22040, 9562, 4865, 2907, 2463, 15024, 914, 3411, 2062, 3456, 2228, 3325, 2961, 2407, 1848, 4386, 1506, 2414, 3818, 1055, 7896, 2829, 2635, 2329, 4931, 99999, 2597, 3908, 34095, 25236, 1455, 2885, 14084, 4508, 8614, 2105, 10520, 2964, 2176, 4416, 2346, 1151, 3674, 6514, 2036, 1831, 2354, 3471, 6849, 7688, 594, 3137, 2202, 2174, 4650, 3273, 114, 5556, 41310, 1111, 20051, 4787, 6418, 27828, 9386, 2290, 6767, 5013, 15020, 2050, 7430, 1409, 3781, 1471, 13550, 6497, 3432, 2977, 2936, 3418, 7298, 1086, 2538, 4934, 3103, 11678, 25124, 3942, 4064, 3887, 3464, 15831, 5721, 0, 14344, 1424, 5455, 991, 10566, 401, 6097, 18481, 2653, 6360, 2993, 7978, 4687, 1639, 2009, 1173, 6723, 1797, 7443, 2387, 7262, 1264, 5060, 1731]
Unique values in column 'capital_loss': [1721, 2231, 1977, 2392, 2559, 2238, 974, 1974, 1816, 1564, 1848, 625, 2042, 2051, 2339, 1590, 1504, 1902, 1485, 1651, 2603, 1380, 1628, 4356, 2824, 419, 2246, 2149, 2205, 2206, 2444, 880, 1539, 2174, 1735, 810, 1340, 1669, 2547, 1594, 1887, 1876, 2258, 2129, 1825, 1740, 653, 323, 1648, 1602, 3004, 2352, 1844, 1668, 1579, 1980, 1726, 1617, 213, 1408, 1573, 2001, 1672, 2179, 2415, 1092, 2282, 0, 2002, 1719, 1762, 1741, 2377, 1258, 2057, 1138, 155, 2467, 1944, 2489, 3683, 2267, 2080, 3900, 1755, 2201, 3770, 2457, 3175, 2754, 2163, 2472, 1429, 1411, 1510, 1421, 1911, 1870]
Unique values in column 'hours_per_week': [31, 85, 65, 53, 78, 34, 28, 26, 27, 44, 12, 22, 47, 1, 52, 13, 16, 6, 3, 40, 20, 94, 57, 54, 96, 48, 5, 19, 64, 41, 15, 43, 37, 88, 9, 17, 72, 35, 55, 4, 59, 8, 39, 23, 49, 7, 84, 87, 51, 97, 63, 10, 77, 50, 45, 38, 82, 80, 25, 73, 24, 70, 62, 29, 21, 98, 60, 32, 90, 75, 56, 58, 33, 11, 68, 14, 42, 2, 30, 99, 66, 46, 67, 18, 36, 89, 81, 76, 91, 86, 92, 61, 95, 74, 69, 79]
Unique values in column 'native_country': ['Philippines', 'Germany', 'Cambodia', 'France', 'Greece', 'Taiwan', 'Ecuador', 'Nicaragua', 'Hong', 'Peru', 'India', 'China', 'Unknown', 'Italy', 'Cuba', 'South', 'Iran', 'Ireland', 'Thailand', 'Laos', 'El-Salvador', 'Mexico', 'Guatemala', 'Honduras', 'Yugoslavia', 'Puerto-Rico', 'Jamaica', 'Canada', 'United-States', 'Dominican-Republic', 'Outlying-US(Guam-USVI-etc)', 'Japan', 'England', 'Haiti', 'Poland', 'Portugal', 'Columbia', 'Scotland', 'Hungary', 'Vietnam', 'Trinadad&Tobago', 'Holand-Netherlands']
Unique values in column 'income': [1, 0]

In [63]:
# Show the DataFrame
df_spark.printSchema()

root
 |-- age: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- marital_status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- capital_gain: integer (nullable = true)
 |-- capital_loss: integer (nullable = true)
 |-- hours_per_week: integer (nullable = true)
 |-- native_country: string (nullable = true)
 |-- income: integer (nullable = true)

### 3.Store data in a persistent table.

In this step we are going to store the `df_spark` our spark dataframe in a permanent table here we use the mode("overwrite") option ensures that if the table already exists, it will be overwritten(optional).

In [64]:
# Define the name of the table
table_name = "income_classification"

# Write the DataFrame to a persistent table
df_spark.write.mode("overwrite").saveAsTable(table_name)

In [65]:
# Confirm that the table has been created
spark.sql(f"SHOW TABLES LIKE '{table_name}'").show()

+---------+--------------------+-----------+
|namespace|           tableName|isTemporary|
+---------+--------------------+-----------+
|  default|income_classifica...|      false|
+---------+--------------------+-----------+

### 4. Create a temporary view of the data.

As we know that temporary views are only available for the duration of the SparkSession

In [66]:
income_classification = spark.table("income_classification")

# Create a temporary view
income_classification.createOrReplaceTempView("temp_view")

### 5. Data Exploration using Spark SQL.

Display summary statistics for numerical columns:

In [67]:
spark.sql("DESCRIBE temp_view").show()

+--------------+---------+-------+
|      col_name|data_type|comment|
+--------------+---------+-------+
|           age|      int|   NULL|
|     education|   string|   NULL|
|marital_status|   string|   NULL|
|    occupation|   string|   NULL|
|  relationship|   string|   NULL|
|          race|   string|   NULL|
|           sex|   string|   NULL|
|  capital_gain|      int|   NULL|
|  capital_loss|      int|   NULL|
|hours_per_week|      int|   NULL|
|native_country|   string|   NULL|
|        income|      int|   NULL|
+--------------+---------+-------+

To analyze the income distribution across different classes, we can use a SQL query to calculate the count of records for each income class. The 'income' column represents the income class (e.g., 0 for <=50K, 1 for >50K), and the 'count' column represents the number of records for each income class

In [68]:
# Calculate income distribution across different classes
income_distribution_query = """
    SELECT income, COUNT(*) AS count
    FROM temp_view
    GROUP BY income
    ORDER BY income
"""

# Execute the query and display the result
income_distribution_result = spark.sql(income_distribution_query)
income_distribution_result.show()

+------+-----+
|income|count|
+------+-----+
|     0|36080|
|     1|11541|
+------+-----+

Here, we can see that almost 75% of the observations all have income below 50k per annum in the 1990's this distribution of income can give us an idea of economic conditions during 1990's, let's look deeper by examining the distribution of income across different occupations.

Income distribution across different occupations

In [69]:
# Analyzing income distribution across different categories of occupation
occupation_income_distribution = spark.sql("""
    SELECT 
        occupation, 
        SUM(CASE WHEN income = 1 THEN 1 ELSE 0 END) AS count_income_1,
        SUM(CASE WHEN income = 0 THEN 1 ELSE 0 END) AS count_income_0
    FROM 
        temp_view
    GROUP BY 
        occupation
    ORDER BY 
        occupation
""")

occupation_income_distribution.show()

+-----------------+--------------+--------------+
|       occupation|count_income_1|count_income_0|
+-----------------+--------------+--------------+
|     Adm-clerical|           765|          4824|
|     Armed-Forces|             4|            10|
|     Craft-repair|          1376|          4713|
|  Exec-managerial|          2898|          3160|
|  Farming-fishing|           172|          1313|
|Handlers-cleaners|           138|          1928|
|Machine-op-inspct|           370|          2636|
|    Other-service|           201|          4690|
|  Priv-house-serv|             3|           235|
|   Prof-specialty|          2752|          3358|
|  Protective-serv|           308|           673|
|            Sales|          1468|          4006|
|     Tech-support|           416|          1020|
| Transport-moving|           479|          1862|
|          Unknown|           191|          1652|
+-----------------+--------------+--------------+

Analyzing income distribution by country

In [70]:
income_distribution_by_country = df_spark.groupBy("native_country", "income").count().orderBy("native_country", "income")
income_distribution_by_country.show()

+------------------+------+-----+
|    native_country|income|count|
+------------------+------+-----+
|          Cambodia|     0|   18|
|          Cambodia|     1|    9|
|            Canada|     0|  114|
|            Canada|     1|   63|
|             China|     0|   84|
|             China|     1|   36|
|          Columbia|     0|   81|
|          Columbia|     1|    4|
|              Cuba|     0|  102|
|              Cuba|     1|   34|
|Dominican-Republic|     0|   95|
|Dominican-Republic|     1|    5|
|           Ecuador|     0|   38|
|           Ecuador|     1|    6|
|       El-Salvador|     0|  142|
|       El-Salvador|     1|   11|
|           England|     0|   76|
|           England|     1|   47|
|            France|     0|   22|
|            France|     1|   16|
+------------------+------+-----+
only showing top 20 rows

Let's look at income distribution within United States.

In [71]:
# Specify the country you want to analyze
country_us = "United-States"  # Replace with the desired country name

# Filter the DataFrame for the specified country
us_income = df_spark.filter(df_spark["native_country"] == country_us)

# Analyze income distribution for the specified country
income_distribution_for_us = us_income.groupBy("income").count()
income_distribution_for_us.show()

+------+-----+
|income|count|
+------+-----+
|     1|10624|
|     0|32334|
+------+-----+

Here we can almost 70% of the observations are from the United-States and also it follows the same pattern when comparing the distributions across all the observations. Now let's look at income distribution across different countries for different occupations.

In [72]:
# Analyzing income distribution in each country by occupation
income_distribution_by_country_and_occupation = df_spark.groupBy("native_country", "occupation", "income").count().orderBy("native_country", "occupation", "income")
income_distribution_by_country_and_occupation.show()

+--------------+-----------------+------+-----+
|native_country|       occupation|income|count|
+--------------+-----------------+------+-----+
|      Cambodia|     Craft-repair|     0|    6|
|      Cambodia|     Craft-repair|     1|    3|
|      Cambodia|  Exec-managerial|     0|    1|
|      Cambodia|  Farming-fishing|     1|    1|
|      Cambodia|Machine-op-inspct|     0|    4|
|      Cambodia|Machine-op-inspct|     1|    1|
|      Cambodia|    Other-service|     0|    1|
|      Cambodia|   Prof-specialty|     0|    2|
|      Cambodia|   Prof-specialty|     1|    2|
|      Cambodia|            Sales|     0|    2|
|      Cambodia|            Sales|     1|    2|
|      Cambodia| Transport-moving|     0|    1|
|      Cambodia|          Unknown|     0|    1|
|        Canada|     Adm-clerical|     0|   10|
|        Canada|     Adm-clerical|     1|    4|
|        Canada|     Craft-repair|     0|   17|
|        Canada|     Craft-repair|     1|    6|
|        Canada|  Exec-managerial|     0|    7|
|        Canada|  Exec-managerial|     1|   13|
|        Canada|  Farming-fishing|     0|    3|
+--------------+-----------------+------+-----+
only showing top 20 rows

### Discussion.

Now that we have explored our dataset using spark sql we are now proceeding for the income classification and evaluating the model performance the model we've chosen is Random Forest Classifier a popular ensemble method. For that we first have to deal with our data preparation where we encode categorical variables using string indexer and scale numeric variables as Random Forest is sensitive to scaling differences and we have to assemble them into a vector because in spark the ML Model expects a single numeric vector instead of multiple features as inputs so we do that and then proceed for model fitting and evaluation.

### 4. Data Preparation.

Age:
- Age might not directly correlate with the target variable (income) in a linear or straightforward manner. While age could be a factor in determining income, it might not always be the case. For example, younger individuals might earn more due to higher education or specific job roles, while older individuals might earn less if they are retired or have lower-paying jobs.
- Including age could introduce bias into the model if age discrimination is a concern, as it might inadvertently affect predictions based on age groups.

Hours per Week:

- While hours worked per week can be a relevant factor in determining income, it might not always be significant or linearly related to income. Some individuals might have high hourly rates but work fewer hours, while others might work long hours but earn lower wages.
- Including hours per week without additional context (such as occupation or industry) might oversimplify the relationship between work hours and income, leading to inaccurate predictions.

Capital Gain:

- Capital gains are typically associated with investments and asset appreciation. While capital gains can contribute to income, they might not be consistently realized by all individuals or may not be a primary source of income for everyone.
- Including capital gains could introduce noise or complexity into the model, especially if the dataset contains a wide range of capital gain values with varying frequencies.

Capital Loss:

- Similar to capital gains, capital losses are related to investment activities. However, they represent a negative financial outcome and might not directly correlate with income levels.
- Including capital losses could introduce unnecessary complexity into the model, especially if the majority of individuals in the dataset do not incur significant capital losses.

By dropping these columns, we aim to simplify the model, reduce potential noise, and focus on features that are more directly related to income prediction, thereby improving the model's interpretability and predictive performance.

In [73]:
# Drop columns 'age', 'hours_per_week', 'capital_gain', and 'capital_loss'
df_spark= df_spark.drop('age', 'hours_per_week', 'capital_gain', 'capital_loss')

# Show the updated DataFrame
df_spark.show()

+------------+--------------------+-----------------+-------------+------------------+------+--------------+------+
|   education|      marital_status|       occupation| relationship|              race|   sex|native_country|income|
+------------+--------------------+-----------------+-------------+------------------+------+--------------+------+
|   Bachelors|       Never-married|     Adm-clerical|Not-in-family|             White|  Male| United-States|     0|
|   Bachelors|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male| United-States|     0|
|     HS-grad|            Divorced|Handlers-cleaners|Not-in-family|             White|  Male| United-States|     0|
|        11th|  Married-civ-spouse|Handlers-cleaners|      Husband|             Black|  Male| United-States|     0|
|   Bachelors|  Married-civ-spouse|   Prof-specialty|         Wife|             Black|Female|          Cuba|     0|
|     Masters|  Married-civ-spouse|  Exec-managerial|         Wife|             White|Female| United-States|     0|
|         9th|Married-spouse-ab...|    Other-service|Not-in-family|             Black|Female|       Jamaica|     0|
|     HS-grad|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male| United-States|     1|
|     Masters|       Never-married|   Prof-specialty|Not-in-family|             White|Female| United-States|     1|
|   Bachelors|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male| United-States|     1|
|Some-college|  Married-civ-spouse|  Exec-managerial|      Husband|             Black|  Male| United-States|     1|
|   Bachelors|  Married-civ-spouse|   Prof-specialty|      Husband|Asian-Pac-Islander|  Male|         India|     1|
|   Bachelors|       Never-married|     Adm-clerical|    Own-child|             White|Female| United-States|     0|
|  Assoc-acdm|       Never-married|            Sales|Not-in-family|             Black|  Male| United-States|     0|
|   Assoc-voc|  Married-civ-spouse|     Craft-repair|      Husband|Asian-Pac-Islander|  Male|       Unknown|     1|
|     7th-8th|  Married-civ-spouse| Transport-moving|      Husband|Amer-Indian-Eskimo|  Male|        Mexico|     0|
|     HS-grad|       Never-married|  Farming-fishing|    Own-child|             White|  Male| United-States|     0|
|     HS-grad|       Never-married|Machine-op-inspct|    Unmarried|             White|  Male| United-States|     0|
|        11th|  Married-civ-spouse|            Sales|      Husband|             White|  Male| United-States|     0|
|     Masters|            Divorced|  Exec-managerial|    Unmarried|             White|Female| United-States|     1|
+------------+--------------------+-----------------+-------------+------------------+------+--------------+------+
only showing top 20 rows

In [74]:
# StringIndexer for categorical columns
indexer_education = StringIndexer(inputCol='education', outputCol='education_index', handleInvalid='keep')
indexer_marital_status = StringIndexer(inputCol='marital_status', outputCol='marital_status_index', handleInvalid='keep')
indexer_occupation = StringIndexer(inputCol='occupation', outputCol='occupation_index', handleInvalid='keep')
indexer_relationship = StringIndexer(inputCol='relationship', outputCol='relationship_index', handleInvalid='keep')
indexer_race = StringIndexer(inputCol='race', outputCol='race_index', handleInvalid='keep')
indexer_sex = StringIndexer(inputCol='sex', outputCol='sex_index', handleInvalid='keep')
indexer_native_country = StringIndexer(inputCol='native_country', outputCol='native_country_index', handleInvalid='keep')

In [75]:
# Define the input columns to be assembled into a feature vector
input_cols = ['education_index', 'marital_status_index', 'occupation_index', 'relationship_index', 'race_index', 'sex_index', 'native_country_index']

# Initialize the VectorAssembler
assembler = VectorAssembler(inputCols=input_cols, outputCol='features')

In [80]:
# Instantiate the RandomForestClassifier
rf = RandomForestClassifier(maxBins = 50,featuresCol="features", labelCol="income")

In [81]:
# Define the pipeline
pipeline = Pipeline(stages=[
    indexer_education,
    indexer_marital_status,
    indexer_occupation,
    indexer_relationship,
    indexer_race,
    indexer_sex,
    indexer_native_country,
    assembler,
    rf
])

In [82]:
# Split the data into training and test sets (70% training, 30% testing)
train_data, test_data = df_spark.randomSplit([0.7, 0.3], seed=42)

In [83]:
fit_model = pipeline.fit(train_data)

In [84]:
results = fit_model.transform(test_data)

In [85]:
results.select(['income','prediction']).show()

+------+----------+
|income|prediction|
+------+----------+
|     0|       0.0|
|     0|       0.0|
|     0|       0.0|
|     0|       0.0|
|     0|       0.0|
|     1|       0.0|
|     0|       0.0|
|     0|       0.0|
|     0|       0.0|
|     0|       0.0|
|     0|       0.0|
|     0|       0.0|
|     0|       0.0|
|     0|       0.0|
|     0|       0.0|
|     0|       0.0|
|     0|       0.0|
|     0|       0.0|
|     0|       0.0|
|     0|       0.0|
+------+----------+
only showing top 20 rows

In [87]:
# Initialize BinaryClassificationEvaluator
evaluator = BinaryClassificationEvaluator(rawPredictionCol="prediction", labelCol="income", metricName="areaUnderROC")

# Evaluate the model
auc = evaluator.evaluate(results)

print("Area Under ROC:", auc)

Area Under ROC: 0.6880588189586718

In [91]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

# Evaluating the model with accuracy
evaluator_accuracy = MulticlassClassificationEvaluator(predictionCol="prediction", labelCol="income", metricName="accuracy")
accuracy = evaluator_accuracy.evaluate(results)

print("Accuracy:", accuracy)

Accuracy: 0.8146143437077131

### Conclusion.

Accuracy (81%): This indicates that the model correctly predicted the class of the instances in the test set around 81% of the time. While an accuracy of 81% may seem high, it's important to consider the class distribution in the dataset. If the classes are imbalanced, accuracy might not be the most informative metric.
AUC (68%): The Area Under the ROC Curve (AUC) is a measure of the model's ability to distinguish between the positive and negative classes. An AUC of 68% suggests that the model performs better than random guessing, but it might not be very effective in distinguishing between the two classes.
The model shows decent performance in terms of accuracy, correctly classifying the majority of instances. However, the AUC score indicates that there is room for improvement in terms of the model's ability to distinguish between the positive and negative classes. Further analysis could involve investigating the data imbalance, tuning model hyperparameters, or exploring different feature engineering techniques to enhance the model's performance.